.container.dashboard-container
    .col
        .card-panel.teal.z-depth-3.blue-grey.darken-3
            span.white-text
                | About
                br
                hr
                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit magnam iusto architecto ea saepe ut recusandae et dolorum similique aliquid eius impedit veniam odio, deleniti rem laudantium nisi quibusdam ex?
                