footer.page-footer.blue-grey.darken-3
  .container.foot-container-up
    .row
      .col.l6.s12
        h5 
        p.grey-text.text-lighten-4 Mailgun, Mailjet ve Sendgrid'in mail kotalarını tüketerek mail yollamanıza olanak sağlıyoruz.
      .col.l4.offset-l2.s12
        h5.white-text Links
        ul
          li
            a.grey-text.text-lighten-3(href='/about') About
          li
            a.grey-text.text-lighten-3(href='https://github.com/mustafaTpl/cyberpost-core') Doc
  .footer-copyright.blue-grey.darken-4
    .container.foot-container-down
        a.grey-text.text-lighten-4.copyright-text(href='/dashboard') © 2018 
        a.brand-logo(href='/dashboard').copyright-logo
                img.cyberpost-logo-foot.center-align(src="../public/img/coyberpost-modern-logo-optimized.svg", href='/dashboard')
        a.grey-text.text-lighten-4.foot-link.created Created By Mustafa Topal & Emre Işık  

script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js')
script(src='./public/js/index.js')