.colum.provider-buttons {
    display: flex;
    justify-content: space-between;
}

a.provider-button {
    overflow: visible;
    width: 90px;
    height: 70px;
}

p.checks {
    pointer-events: none;
    position: absolute;
    right: -30%;
    bottom: 20%;
}

span.check-span::after  {
    border: none !important;
    background-color: #006064 !important;
}

.send-submit-button {
    width: 100%;
}

img.mailjet-img {
    position: absolute;
    left: 0;
    top: 25%;
    height: 35px ;
}

img.mailgun-img {
    position: absolute;
    top: -20%;
    left:  -3%;
    padding-top: -100px;
    height: 95px;
}

img.sendgrid-img {
    position: absolute;
    left: 0;
    top: 35%;
    padding-left: 2px;
    height: 15px ;
}

img.cyberpost-logo {
    height: 63px;
    padding-left: 20px;
}

img.cyberpost-logo-foot {
    height: 33px;
}

a.nav-register {
    padding-right: 20px;
}

ul.nav-ul {
    padding-right: 20px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


.card-content{
    margin-top: 75px;
    margin-bottom: 75px;
}

.card-panel-dashboard {
    margin-top: 75px;
    margin-bottom: 75px;
}

.logout-button {
    padding-right: 20px;
}

.foot-container-down {
    position: relative;
    display: flex;
    align-items: center;
}
.foot-container-up {
    padding-top: 10px;
}
.foot-link {
    position: absolute;
    right: 0;
}

footer.page-footer {
    padding-top: 0px;
}

label.to-label {
    font-size: 12px;
    top: -10px;
}
label.bcc-label {
    font-size: 12px;
    top: -10px;
}

.provider-buttons {
    display: flex;
    justify-content: space-between;
}

h5.body {
    position: absolute;
    top: 100px;
    left: 150px;
    font-weight: 600;
}
h5.body.dashboard {

}
@media only screen and (max-width: 769px) {
    img.cyberpost-logo {
        padding-left: 0;
    }
    .container.dashboard-container {
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (max-width: 600px) {
    img.cyberpost-logo {
        height: 54px;
        padding-left: 0;
    }
}
@media only screen and (max-width: 475px) {
    .footer-copyright{
        overflow: visible !important ;
    }
    .created {
        position: absolute;
        padding-top: 10px;
        padding-bottom: 25%;
        left: 0;
    }
}
@media only screen and (max-width: 445px) {
    .provider-buttons {
        display: flex;
        flex-direction: column;
    }
    a.provider-button {
        margin-bottom: 10px;
        position: relative;
        width: 100%;
    }
    p.checks {
        pointer-events: none;
        position: absolute;
        right: -10%;
        bottom: 20%;
    }
    img.mailjet-img {
        position: relative;
    }
    
    img.mailgun-img {
        position: relative;
        margin-left: 10px;
    }
    
    img.sendgrid-img {
        position: relative;
        margin-bottom: 20px;
    }
}